@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        
        body {
            font-family:  "Inter", sans-serif;
        }
        
        .card {
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }
        
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        }
        
        .btn {
            transition: all 0.2s ease;
        }
        
        .btn:hover {
            opacity: 0.9;
        }
        
        .heartBtn {
            cursor: pointer;
            transition: transform 0.2s ease;
        }
        
        .heartBtn:hover {
            transform: scale(1.2);
        }
        
        .heartBtn.active {
            color: #d70c0c;
        }